<div class="post-preview">
    <a href="{{ url('posts.show') }}">
        <h2 class="post-title">Artigo {{ post.titulo }}</h2>
        <h3 class="post-subtitle">{{ post.conteudo }}</h3>
    </a>
    <p class="post-meta">postado em {{ post.data }}</p>
</div>
<hr>